/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    font-family:Times ;
    font-size: 16px;
    color: #000000;
}

.table-border {
    max-width: 250px ;
    max-height: 300px ;
}

#photo-resize {
    border: 1px solid #000000;
}
